.hero-section {
  min-height: 840px;
  background-color: #576f35;
  background-image: url(/img/hero/hero-img-mob-min.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

@media screen and (min-resolution: 2x),
(-webkit-min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: url(/img/hero/hero-img-mob@2x-min.webp);
  }
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  padding-top: 100px;
  padding-bottom: 20px;

}

@media screen and (max-width:374px) {
  .hero-title {
    font-size: 43px;
  }
}

.hero-text {
  color: #fbfbfb;
  padding-bottom: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}



@media screen and (min-width:768px) {

  .hero-section {
    min-height: 1020px;
    background-image: url(../img/hero/hero-img-tab-min.webp);
  }

  @media screen and (min-resolution: 2x),
  (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(/img/hero/hero-img-tab@2x-min.webp);
    }
  }

  .hero-title {
    font-size: 76px;
    padding-top: 120px;
    padding-bottom: 24px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
    padding-bottom: 52px;
  }

}


@media screen and (min-width:1280px) {

  .hero-section {
    min-height: 100%;
    background-image: url(/img/hero/hero-img-desk-min.webp);
    background-position: right;
  }

  @media screen and (min-resolution: 2x),
  (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(/img/hero/hero-img-desk@2x-min.webp);
    }
  }


  .hero-title {
    max-width: 502px;
    padding-top: 232px;
    padding-bottom: 128px;
  }

  .hero-text {
    max-width: 472px;
  }
}